@import "./mixin";
@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

main {
  @include boxcenter;

  #container_conf {
    @include boxcenter;
    flex-direction: column;
    height: 75vh;

    #h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}
